

.footer {
    background-image: linear-gradient(to right, #9cecfb, #3a99c8, #1c478d);
    /* background-image: linear-gradient(to right, #1c478d, #3a99c8, #9cecfb);
    background-color: #3a99c8; Solid color from your header's gradient */
    color: white; /* Ensures high contrast for readability */
    padding: 5px 0; /* Minimally reduces padding to decrease height */
    font-size: 0.75rem; /* Decreases font size for compactness */
    text-align: center; /* Central alignment for a tidy appearance */
  }
  
  .footer a {
    color: gold; /* A contrasting color from the header for links */
    padding: 0 5px; /* Minimal padding to ensure clickable area */
    transition: color 0.2s; /* Smooth transition for hover effects */
  }
  
  .footer a:hover {
    color: #ffffff; /* Changes to white on hover for interaction feedback */
  }
  
  .footer-credits {
    margin-top: 5px; /* Keeps a tight layout with minimal top margin */
    border-top: 1px solid #1c478d; /* Adds a subtle top border for visual separation */
    padding-top: 5px; /* Minimal padding above the credits */
  }
  
  /* Ensures the footer doesn't become too crowded on small screens */
  @media (max-width: 768px) {
    .footer {
      padding: 5px 0; /* Keeps padding minimal for compactness */
      font-size: 0.75rem; /* Adjusts font size for readability on small screens */
    }
    .footer a {
      padding: 0 3px; /* Adjusts link padding for space efficiency */
    }
  }
  