

  /* Header.css */
.navbar {
  background-image: linear-gradient(to right, #1c478d, #3a99c8, #9CECFB); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  padding: 0.5rem 1rem;
  max-height: px;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff !important; /* Ensures the brand text is white */
  transition: transform 0.3s ease-in-out; /* Smooth transform for hover effects */
  padding: 0;
  margin-right: 1rem;
}

.navbar-brand img {
  
  margin-right: 10px; /* Space between logo and brand name */
  transition: transform 0.3s ease-in-out; /* Smooth transform for logo hover */
  height: auto;
  width: auto;
  max-height: 150px;
  
}

.navbar-brand:hover,
.navbar-brand:focus {
  transform: scale(1.05); /* Slightly enlarges the brand on hover */
}

.nav-link {
  color: black !important; 
  font-weight: 500;
  transition: color 0.2s ease-in-out; 
  padding: 0 0.5rem;
}

.nav-link:hover,
.nav-link:focus {
  color: white !important; /* Changes text color on hover */
  text-decoration: underline; /* Underlines text on hover for emphasis */
  transform: translateY(-2px); 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

/* Header.css adjustments for small screens */
@media (max-width: 981px) {
  .navbar {
      min-height: 130px;
      justify-content: center; /* Center the items in the navbar */
  }

  .navbar-brand {
      position: absolute; /* Absolute positioning to help centering */
      left: 50%; /* Center relative to the navbar */
      transform: translateX(-50%); /* Offset by half of its width */
      display: flex;
      align-items: center; /* Align items (logo image) vertically */
      top: 0px;
  }

  .navbar-brand img {
      max-height: 120px; /* Adjust the logo size for smaller screens */
  }

  .navbar-toggler {
      border-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      right: 1rem; /* Position the toggler to the right */
      top: 50px;
  }


  .nav-link {
    margin-left: 10px;
    padding: 0;
    color: #ffffff;
  }
  .nav-link:hover,
  .nav-link:focus {
    box-shadow: none;
  }
}

/* Style the login link */
.login-link {
  font-size: 0.9rem;
  color: #007bff;
  font-weight: bold;
}

/* Optional: Add a separator between the main links and the login link */
.login-separator {
  border-left: 1px solid black;
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
}

/* Hover effect for the login link */
.login-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

