.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    color: #2C5A6A;
    padding: 10px;
    flex-wrap: wrap;
}
.navbar a {
    color: #2C5A6A;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.2s ease;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}
.navbar li {
    display: inline;
    margin: 0 20px;
}
.navbar a:hover {
    background-color: #c8cdcc;
    color: #000000;
    transform: translateY(-2px);
}
/* @media (max-width: 768px){
    .navbar {
        flex-direction: column;
        padding: 10px 0;
    }
    .navbar ul {
        justify-content: center;
        width: 100%;
    }
    .navbar li {
        margin: 5px 0;
        width: 40%;
        text-align: center;
        
    }
    .navbar a {
        padding: 2px 7px;
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .navbar li {
        margin: 0;
        
    }
    .navbar a {
        font-size: 14px;
        padding: 5px 0;
    }
    
}  */

img {
    width: 200px;
}

header {
    background-image: linear-gradient(to right, #82898a, #e5f0ee);
    background-color: #d8d8d4; 
    color: #2C5A6A;
    padding: 0;
    margin: 7px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-left: 15px solid #173039;
    /* position: sticky;
    top: 0;
    z-index: 1000; */
}

.logo-container img {
    height: 200px; 
    transition: transform 0.2s ease; 
  }
  
.logo-container img:hover {
    transform: scale(1.1); 
  }

.nav-links {
    display: flex;
    /* transition: all 0.3s ease; */
  }
  
.nav-links:hover {
    transform: translateY(-2px); 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  }

  /* Hamburger Menu Button */
.hamburger {
    display: none; /* Hide by default */
    font-size: 30px; /* Icon size */
    background: none;
    border: none;
    color: #ffffff; /* Adjust based on your header color */
    cursor: pointer;
  }
  
  /* Responsive Styles */
@media (max-width: 768px) {
    .hamburger {
      display: block; /* Show hamburger icon on small screens */
    }
  
    .nav-links {
      display: none; /* Hide nav links by default on small screens */
      /* flex-direction: column;
      width: 100%;
      text-align: center; */
    }
  
    .nav-links.open {
      display: flex; /* Show when hamburger menu is toggled */
      flex-direction: column;
    }
  
    .nav-links li {
      margin: 10px 0; /* Add space between links */
    }
  }
  